<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.rmt.springtest"/>

    <!--<context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusicBean"
          class="ru.rmt.springtest.RockMusic">
    </bean>

    <bean id="classicMusicBean"
          class="ru.rmt.springtest.ClassicalMusic"
            init-method="doMyInit"
            destroy-method="doMyDestroy"
            factory-method="getClassicalMusic">
    </bean>

    <bean id="hipHopMusicBean"
          class="ru.rmt.springtest.HipHopMusic">
    </bean>-->

    <!--<bean id="musicPlayer"
          class="ru.rmt.springtest.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="hipHopMusicBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

    <!--<bean id="musicPlayer"
          class="ru.rmt.springtest.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>